# Fish Ignore
.config/fish/functions/_tide_**
fish_variables
fisher.fish
tide
tide.fish
_tide_init.fish

.config/htop/**
.config/looking-glass/**
.config/user-dirs.dirs
.config/user-dirs.locale
.config/dconf/**
.config/freerdp/**

# bad bowsers
.config/google-chrome/**
.config/microsoft-edge/**

# no onedrive
.config/onedrive/**
.config/onedrive-gui/**
