[user]
	email = me@katalysatorn.xyz
	name = katalysatorn.

[core]
    editor = nvim
    ; Global gitignore (applied to all repositories)
    excludesFile = ~/.git.d/global.gitignore

[push]
	autoSetupRemote = true
	default = current

[commit]
    ; Show full diff when editing commit message
	verbose = true

[init]
	defaultBranch = main
