[user]
	email = me@katalysatorn.xyz
	name = katalysatorn.
	signingkey = D22EC5E382B578DDC02C1FB44DD86F8060A7B179

[core]
    editor = nvim
    ; Global gitignore (applied to all repositories)
    excludesFile = ~/.git.d/global.gitignore

[push]
	autoSetupRemote = true
	default = current

[commit]
    ; Show full diff when editing commit message
	verbose = true
	gpgsign = true

[init]
	defaultBranch = main
[tag]
	gpgSign = true
