lazy-lock.json
.config/Code - Insiders
.config/Trolltech.conf
.config/dconf
.config/dolphinrc
.config/freerdp
.config/gtk-3.0/
.config/gtk-4.0/
.config/gtkrc
.config/gtkrc-2.0
.config/kactivitymanagerdrc
.config/kconf_updaterc
.config/kde.org/
.config/kdedefaults/
.config/kdeglobals
.config/heroic
.config/htop
.config/pulse/
.config/session/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xsettingsd/
.config/remmina
.config/PlasmaUserFeedback
.config/baloofilerc
.config/bluedevilglobalrc
.config/kactivitymanagerd-statsrc
.config/kcminputrc
.config/kded5rc
.config/kded6rc
.config/kglobalshortcutsrc
.config/ksmserverrc
.config/ktimezonedrc
.config/kwalletrc
.config/kwinoutputconfig.json
.config/kwinrc
.config/libaccounts-glib/
.config/mozilla/
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasma-welcomerc
.config/plasmashellrc
.config/powermanagementprofilesrc
