@import "mocha.css";

* {
	font-family: FiraCode Nerd Font;
	font-size: 16px;
	min-height: 0;
}

#waybar {
	color: @text;
	background-color: rgba(49, 50, 68, 0);
	background: rgba(49, 50, 68, 0);
	margin: 0px;
	padding: 0px;
}

#window {
	margin-left: 4rem;
	margin-right: 4rem;
}

#workspaces {
	border-radius: 0;
	margin: 5px;
	margin-left: 1rem;
}

#workspaces button {
	color: lavender;
	border-radius: 0;
	margin-right: 0.2rem;
}

#workspaces button.active {
	color: @sky;
	border-radius: 0;
}

#workspaces button:hover {
	color: @sapphire;
	border-radius: 0;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock {
	padding: 0.2rem 1rem;
	margin: 5px 0;
}

#clock {
	color: @blue;
	border-radius: 0;
	margin-right: 1rem;
}

#battery {
	color: @green;
}

#battery.charging {
	color: @green;
}

#battery.warning:not(.charging) {
	color: @red;
}

#backlight {
	color: @yellow;
}

#backlight, #battery {
	border-radius: 0;
}

#pulseaudio {
	color: @maroon;
	border-radius: 0;
	margin-left: 1rem;
}

#custom-music {
	color: @white;
	border-radius: 0;
}

#custom-lock {
	border-radius: 0;
	color: @lavender;
}

#custom-power {
	margin-right: 1rem;
	border-radius: 0;
	color: @red;
}

#tray {
	margin-right: 1rem;
	border-radius: 0;
}
